matplotlib==3.3.4
numpy==1.20.2
dash
requests~=2.26.0
flask
retrying
ipython
ipykernel
ansi2html
dash_html_components==1.1.4
pandas==1.2.4
dash_core_components==1.17.1
plotly>=5.2.1
jupyterlab>=2.0
notebook>=6.0
jupyterlab_launcher>=0.5.0
jupyter_server_proxy
jupyterlab-dash
jupyter-dash
pycoingecko~=2.2.0
dash_bootstrap_components
dash_html_components
dash_table
streamlit~=1.2.0
Pillow~=8.4.0
millify~=0.1.1
